@using WebApplication2.Models
@model IEnumerable<Submission>

@{
    ViewData["Title"] = "Danh sách bài nộp";
}

<h2> Assignment @ViewBag.AssignmentId</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student</th>
            <th>File</th>
            <th>DeadLine</th>
            <th>Score</th>
            <th>Mark Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Student.UserName</td>
                <td><a href="@item.FilePath" target="_blank">Up file</a></td>
                <td>@item.SubmittedAt.ToLocalTime().ToString("g")</td>
                <td>@(item.Grade.HasValue ? item.Grade.ToString() : "Chưa chấm")</td>
                <td>
                    <form asp-action="Grade" method="post">
                        <input type="hidden" name="submissionId" value="@item.Id" />
                        <input type="number" name="grade" min="0" max="100" class="form-control" style="width: 80px; display: inline-block;" />
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
